doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        link(rel='shortcut icon', href='https://georoot.github.io/assets/img/logo.ico', type='image/x-icon')
        title Programming or Cooking
        meta(property='og:title', content='Programming or Cooking')
        meta(property='og:locale', content='en_US')
        meta(name='description', content='Predict if i am programming or cooking')
        meta(property='og:description', content='Predict if i am programming or cooking')
        meta(name='twitter:card', content='Query on any sentence and the website will make prediction if its related to Programming or Cooking')
        meta(name='twitter:site', content='@theRahulBhola')
        meta(property='og:image', content='https://georoot.github.io/assets/img/logo.png')
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
        link(rel="stylesheet" type="text/css" href="/style.css")
    body
        form.container.center(method="POST")
            h1 Search your query here
            input(type="text" placeholder="Ask me about Programming or Cooking" name="q" autocomplete="off" value=q)
            button Predict

        if q
            .container#result
                code= label
                ul#output
                    li
                        b Cooking
                        p= output[0].value
                    li
                        b Program
                        p= output[1].value
        footer
            a(href="https://twitter.com/theRahulBhola" target="_blank") Find me on twitter
